[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/hibari/Escritorio/trash-can.desktop]
row=4
col=0

[/home/hibari/Escritorio/network.desktop]
row=5
col=0

[/home/hibari/Escritorio/computer.desktop]
row=6
col=0

[/home/hibari/Escritorio/user-home.desktop]
row=7
col=0

[/home/hibari/Escritorio/steam.desktop]
row=0
col=1

[EDED-8232]
row=3
col=0

[Papelera]
row=0
col=0

[/]
row=1
col=0

[/home/hibari]
row=2
col=0

