[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[7DF5-F81B]
row=4
col=0

[5fb8f67b-9842-4426-be80-df709739308e]
row=0
col=0

[Papelera]
row=1
col=0

[/]
row=2
col=0

[/home/hibari]
row=3
col=0

